html,body{height:100%;}

.carousel
	{height:100%;}
.carousel-inner 
	{height:100%;}
img
{
	height: auto;
	width: 100%;
}
.bg
		{
			background-image:url('../img/bg/1.jpg');
			height:100%;
			margin: 0;
			background-position:center;
			background-size: cover;
			background-repeat: no-repeat;	
		}


section
		{
			min-height: 100%;
			padding: 10px 0;  
			font-style: italic;
			font-family: "Times New Roman";
			font-size: 14pt;
			color: #001dff;
		}

.content1
{
	margin: 0 15%;
	z-index: 2;
}

h1
	{
		margin: 0 25%;
	}
section h1 + p:first-letter 
	{
	font-size: 45px;
	color:red;
		}

h1 + p
		{
			margin-top: 25px;
			text-indent: 30px;
		}
